WindowsFormsApp1/Connected Services/ALGBVM2/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AlgorithmLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AlgorithmLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://54.172.23.55/AWSalgorithm2/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ConfigData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Coefficients" nillable="true" type="q1:ArrayOfdouble" />
      <xs:element minOccurs="0" name="MaxDuration" type="xs:double" />
      <xs:element minOccurs="0" name="MaxProcessors" type="xs:int" />
      <xs:element minOccurs="0" name="MaxTasks" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProcessorFrequency" nillable="true" type="q2:ArrayOfdouble" />
      <xs:element minOccurs="0" name="RefFrequency" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TaskRuntimeByFrequency" nillable="true" type="q3:ArrayOfdouble" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TaskRuntimes" nillable="true" type="q4:ArrayOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigData" nillable="true" type="tns:ConfigData" />
</xs:schema>